/* This is the css file for Project exercion: index.html.  */

/* Set up whole page. */
html {
  font-family: Verdana;
  background-color: black;
  text-align: center;
}

/* Set up the treatment of download links. */
a:link,
a:visited {
  color: aquamarine;
}

/* mouse over link */
a:hover {
    color: yellow;
}

.download {
  align-content: center;
  color: Aquamarine;
  font-size: 16px;
  text-decoration: underline;
}

/* Set up top line. */
h1 {
  font-weight: normal;
  font-size: 50px;
  color: white;
  align-content: center;
}

/* Set up cell phone video. */
.cellphonevideo{
  align-content: center;
}

/* Internal text to catch the eye. */
.catchline{
  font-weight: 300;
  font-size: 42px;
  color: white;
}

/* Gray text for background info. */
h3 {
  color: gray;
  font-size: 21px;
}

/* Ensure that copyright statement is aligned to the right. */
#copyright{
  text-align: right;
  color: gray;
}
